# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
bin/
lib/
include/
# ...

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Compiled source
*.o
*.so
*.out
*.exe

# Temporary files
*~
*.swp
*.bak
*.log

# My Private Files
template.py
cache/
main*.py
gen*.py
